<mat-toolbar color="primary">

  <button mat-button>FollowJack</button>
  <div _ngcontent-c1="" class="flex-spacer"></div>
  <button mat-button>Dashboard</button>
  <a aria-label="GitHub Repository" class="mat-button" href="https://github.com/FollowJack/" mat-button="" tabindex="0" aria-disabled="false">
    <span class="mat-button-wrapper">
    <img alt="github" class="github-logo" src="../assets/images/github-circle-white-transparent.png">
    GitHub
  </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
  <!--<button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon> Menu</button>-->


</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
