<footer class="footer">
  <div class="footer-list">
    <a class="footer-logo" href="https://github.com/FollowJack">
      <img alt="Github" class="github-logo-footer" src="../../assets/images/github-circle-white-transparent.png">
    </a>

    <div class="footer-links">
      <ul>
        <li> <a href="https://github.com/FollowJack/ipfs-ethereum-storage/wiki">Learn IPFS</a> </li>
      </ul>
    </div>

    <div class="footer-copyright">
      <p>Made with <3 by FollowJack</p>
    </div>
  </div>
</footer>
